*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url(HILL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
li{
    float: right;
    text-align: right;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 10px;
}
nav{
    width: 100vw;
    height: 90px;
    display: flex;
}

li{
    float: left;
    text-align: left;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 10px;
}
a{
    text-decoration: wavy;
    color: rgba(245, 249, 249, 0.98);
}
a:hover{
    tab-size: 10px;
    color: #ff9595;
    
}
.header-container{
    width: 40%;
    position: relative;
    top: 30%;
    left: 2rem;
}
.header-container h1{
    color :rgb(140, 99, 227);
    font-family: 'quicksand',sans-sarif;
    font-size: 40px;
}
.text-primary{
    color:WHITE;
}
.header-container p{
    width: 70%;
    margin-top: 2rem;
    color: rgb(113, 222, 205);
    font-family: "quicksand",sans-serif;
}
.btn{
    padding: 0.5rem 1.2rem;
    outline: none;
    border: 1pxsolid black;
}
.btn-primary{
    font-size: 20px;
    font-family: "quicksand",sans-serif;
    letter-spacing: 2px;
    margin-top: 2rem;
    background-color: #ec4141;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #ec4141;
    transition: all 0.5s linear;
}
.btn-primary:hover{
    background-color: transparent;

}
